# Virtual Environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Environment variables (if added later)
.env

# Trained ML / DL models
*.keras
*.h5

# Pickle / Joblib files
*.pkl
*.joblib

# Logs & temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
